name: Semgrep

on:
  push:
  pull_request:

jobs:
  semgrep:
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep


    steps:
      - uses: actions/checkout@v3
      - run: semgrep scan --config auto
